/* North Florida Literacy Festival Placeholder Cascading Style Sheet
 * Authored by Aidan S (aidans80@outlook.com) */

/* General Rules */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}
body {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 14px;
   color: #111;
   background-color: #000;
   background-image: url(images/Books_HD_8314929977.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}
a:link, a:visited {
   text-decoration: underline;
   color: #FF0000;
}
a:hover, a:active {
   color: #036B93;
}
h1, h2, h3, h4, h5, h6, th {
   color: #FFF;
   font-family: "Lucida Sans Regular", "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   margin-top: 0;
   margin-bottom: 0;
}
p {
   margin-top: 0;
}
img {
   border: none;
   vertical-align: middle;
   max-width: 600px;
}
iframe {
   border: none;
}
table {
   border-collapse: collapse;
}

/* Structure */
#page-container {
   width: 100%;
   height: auto !important;
   height: 100%;
   min-height: 100%;
   position: absolute;
   right: 0;
   left: 0;
   background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 100%); /* FF3.6-15 */
   background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
   background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#66ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Classes */
.row {
   margin: auto;
}
.row:after {
   content: "";
   display: table;
   clear: both;
}
.column {
   float: left;
   width: 50%;
   padding: 10px;
}
.block {
   display: block !important;
}
.hr {
   content: "";
   clear: both;
   height: 1px;
   margin: 10px;
   background: -moz-linear-gradient(left,  rgba(127,127,127,0) 0%, rgba(127,127,127,1) 50%, rgba(127,127,127,0) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left,  rgba(127,127,127,0) 0%,rgba(127,127,127,1) 50%,rgba(127,127,127,0) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right,  rgba(127,127,127,0) 0%,rgba(127,127,127,1) 50%,rgba(127,127,127,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#00dddddd',GradientType=1 ); /* IE6-9 */
}
.title {
   text-align: center;
}
.title img {
   width: 100%;
   max-width: 500px;
}
.subtitle {
   margin: 20px 0 20px;
   font-size: 1.2em;
   font-style: italic;
   color: #111;
   text-align: center;
   text-shadow: 0 0 5px #FFF;
}
.box {
   display: inline-block;
   margin: 4px;
   padding: 10px;
   text-align: center;
   text-decoration: none !important;
}
.box {
   margin: 4px;
   padding: 20px;
   transition: 0.25s all;
}
.box:hover, .box:active, .box:focus {
   margin: 0px;
   padding: 24px;
}
.cyan-highlight {
   background-color: #00AACC;
   color: #FFF !important;
   text-shadow: 0 0 2px rgba(0,0,0,0.6);
}
a.cyan-highlight:hover, a.cyan-highlight:active, a.cyan-highlight:focus,
button.cyan-highlight:hover, button.cyan-highlight:active, button.cyan-highlight:focus {
   background-color: #0094B2;
   text-shadow: 0 0 6px rgba(0,0,0,0.8);
}
.red-highlight {
   background-color: #FF0000;
   color: #FFF !important;
   text-shadow: 0 0 2px rgba(0,0,0,0.6);
}
a.red-highlight:hover, a.red-highlight:active, a.red-highlight:focus,
button.red-highlight:hover, button.red-highlight:active, button.red-highlight:focus {
   background-color: #E50000;
   text-shadow: 0 0 6px rgba(0,0,0,0.8);
}
.cyan-highlight h1, .cyan-highlight h2, .cyan-highlight h3, .cyan-highlight h4, .cyan-highlight h5, .cyan-highlight h6, .red-highlight h1, .red-highlight h2, .red-highlight h3, .red-highlight h4, .red-highlight h5, .red-highlight h6 {
   color: #FFF !important;
}
.cyan-text {
   color: #00AACC !important;
}
a.cyan-text:hover, a.cyan-text:active, a.cyan-text:focus {
   color: #036B93 !important;
}
.red-text {
   color: #FF0000 !important;
}
a.red-text:hover, a.red-text:active, a.red-text:focus {
   color: #107245 !important;
}
.author-image {
   max-width: 200px;
}

/* Media Rules */ 
@media (max-width: 767px) {
   .column {
      width: 100%;
   }
}
@media (max-width: 991px) {
   #header {
      text-align: center;
      padding: 20px;
   }
   #header .title {
      float: none;
   }
   #header .vertical-align-middle {
      margin-top: 0 !important;
   }
}
@media (max-width: 1199px) {
   #header .title img {
      height: 80px;
   }
}

/* Bootstrap */
.container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   transition: 0.3s width;
}
@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}
@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}
@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}
.container-fluid {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
}

